:root{
    --primary:#eeeeee;
    --secondary:#8DF7E2;
    --secondary-light: rgb(34,124,112,0.2);
    --secondary-light-2: rgb(127,183,126,0.1);
    --white:#F7F7F7;
    --black: #1F1F1F;

    --shadow: 0px 2px 8px 0px var(--secondary-light)
}

.profile-dropdown{
    position: relative;
    width: fit-content;
}

.profile-dropdown-btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    border: 1px solid var(--secondary);
    border-radius: 50px;
    cursor: pointer;
    width: 140px;
    transition: box-shadow 0.2s, background-color 0.2s;
    margin-right: 2rem;
    gap : 0.5rem;
}
.profile-dropdown-btn:hover{
    background-color: var(--secondary-light-2);
    box-shadow: var(--shadow);
}
#nome_entrar {
    max-width: 100px; /* Define o espaço máximo */
    white-space: nowrap; /* Impede que o texto quebre linha */
    overflow: hidden; /* Esconde o texto que ultrapassar o limite */
    text-overflow: ellipsis; /* Adiciona "..." automaticamente */
  }
  
/*
.profile-img{
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    background-size: cover;
}*/

.profile-img {
    width: 50px; /* Largura padrão */
    height: 50px; /* Altura padrão */
    background-size: cover; /* Garante que a imagem preencha sem distorcer */
    border-radius: 50%; /* Faz a imagem ser circular */
  }
  
  /* Reduz o tamanho da imagem em telas menores */
  @media (max-width: 600px) {
    .profile-img {
      width: 40px;
      height: 40px;
    }
  }

.profile-dropdown-btn span{
    margin: 0 0.5rem;
    margin-right: -0.2rem;
   
}

.profile-dropdown-list{
    display: block;
    position: absolute;
    top: 68px;
    width: 220px;
    right: 0;
    left: auto;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--shadow);
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
   
  
}
.profile-dropdown-list.active {
    max-height: 500px;
    display: flex;

}
.profile-dropdown-list hr{
    border: 0.5rem 0 0.5rem 1rem  ;
    transition: background-color 0.2, padding-left 0.2;
}
.profile-dropdown-list-item{
    padding: 0.5rem 0 0.5rem 1rem;
    transition: background-color 0.2s, padding-left 0.2s;
}

.profile-dropdown-list-item:hover{
    padding-left: 1.5rem;
    background-color: var(--secondary-light);
}

.profile-dropdown-list-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--black);
}
.profile-dropdown-list-item a i{
    margin-right: 1rem ;
    font-size: 1.1rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color: var(--secondary);
    color: var(--white);
    line-height: 2.3rem;
    text-align: center;
    border-radius:50% ;
}


/* Animação de fade-out e movimento para a esquerda */
@keyframes nomeFadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px); /* move o texto para esquerda */
  }
}

#nome_entrar.fade-out {
  animation: nomeFadeOut 1s forwards;
}


