html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.header {
    top: 0;
}

main {
    display: flex;
    height: calc(100vh - 80px); /* Altura total menos altura do header e footer */
    margin-top: 50px; /* Margem para não sobrepor o header */
    margin-bottom: 30px; /* Margem para não sobrepor o footer */
}

.video-section {
    flex: 0 0 50%; /* Largura fixa de 50% da tela */
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; /* Espaço para as bordas */
}

.editor-section {
    flex: 1;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
}

iframe {
    width: 100%;
    height: 62%; /* Altura proporcional à largura */
    border: none;
}

.editor-section textarea {
    width: 100%;
    height: calc(100% - 50px); /* Deixa espaço para o botão */
    padding: 10px;
    font-family: monospace;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.editor-section button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.output-section {
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
}