name: Deploy
on: [push]

jobs:
  ssh:
    runs-on: ubuntu-latest
    steps:
      - name: SSH into server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            echo "Deploy iniciado!"

            cd /var/www/meu-site
            git fetch --all
            git reset --hard origin/testes-aplicacoes
            npm install
            pm2 reload devlab || pm2 start server.js --name devlab
            pm2 save


            echo "Instalando dependências..."
            npm install

            echo "Reiniciando aplicação..."
            pm2 reload devlab || pm2 start server.js --name devlab
            pm2 save




